@page
@model SignupModel
@{
    ViewData["Title"] = "Signup";
    Layout = "_LayoutNoHeader";
}

@section Scripts {
    <script>
        const range = document.getElementById('age');
        const output = document.getElementById('ageLabel');

        output.textContent = range.value + " Años";

        range.addEventListener('input', function () {
            output.textContent = this.value + " Años";
        });
    </script>
}


<div class="d-flex justify-content-center align-items-center p-4 bg-white rounded shadow">
    <form method="post">

        <h2 class="text-center mb-3">Crear Cuenta</h2>


        <div class="mb-3">
            <label for="Email">Correo</label>
            <input type="text" name="Email" class="form-control" placeholder="gatito@gmail.com" />
        </div>

        <div class="mb-3">
            <label for="Password">Contraseña</label>
            <input type="password" name="Password" class="form-control" placeholder="ContraseñaSuper_777" />
        </div>

        <div class="mb-3">
            <h6>Ingresa tu edad</h6>
            <label for="age" class="form-label" id="ageLabel">@Model.AgeValue</label>
            <input type="range" class="form-range" min=1 max=85 step="1" asp-for="AgeValue" id="age" />
        </div>

        <div class="mb-3">
            <label for="genre">Género</label>
            <select class="form-select mb-3" aria-label="Género" name="Genre" itemid="genre">
                <option selected>Selecciona tu género</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
                <option value="O">Otro</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="country">País</label>

            <select class="form-select mb-3" asp-for="Country" asp-items="Model.Countries">
                <option selected>Selecciona un país</option>
            </select>
        </div>

        
        <button type="submit" class="btn btn-primary w-100 mb-3">
            Entrar
        </button>

        <a asp-page="/Signup"
           class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Crear Cuenta</a>

    </form>
</div>

